:root {
  --POSTColor: #009D77;
  --POSTLightColor: #EBF7F4;
  --POSTBorderColor: #49cc90;

  --GETColor: #1391FF;
  --GETLightColor: #ECF6FF;
  --GETBorderColor: #61affe;

  --PUTColor: #E97500;
  --PUTLightColor: #fca1301a;
  --PUTBorderColor: #fca130;

  --DELETEColor: #CF3030;
  --DELETELightColor: #FBEEEE;
  --DELETEBorderColor: #f93e3e;

  --item-color: #fff;
  --item-light-color: #fff;
  --item-border-color: #fff;

  --globalColor: #3b4151;
}

body {
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

.code-highlight {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}
.code-highlight pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  color: #e6edf3;
  background-color: #161B21;
  border-radius: 6px;
}

/* === WRAPPER === */
.wrapper {
  padding: 60px 10vw 0;
}

/* === SECTIONS === */
.wrapper_sections .section {
  margin: 50px 0;
}
.section_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  box-shadow: inset 0 -1px rgb(208 210 211);
  cursor: pointer;
  background: transparent;
  transition: 0.2s;
}
.section_header:hover {
  background: rgba(0,0,0,.05);
}
.section_content_item {
  padding: 7px 15px;
  margin: 0 0;
}
.section_content_item:first-of-type {
  margin-top: 0;
  padding-top: 15px;
}
.section_content_item.post {
  --item-color: var(--POSTColor);
  --item-light-color: var(--POSTLightColor);
  --item-border-color: var(--POSTBorderColor);
}
.section_content_item.get {
  --item-color: var(--GETColor);
  --item-light-color: var(--GETLightColor);
  --item-border-color: var(--GETBorderColor);
}
.section_content_item.put {
  --item-color: var(--PUTColor);
  --item-light-color: var(--PUTLightColor);
  --item-border-color: var(--PUTBorderColor);
}
.section_content_item.delete {
  --item-color: var(--DELETEColor);
  --item-light-color: var(--DELETELightColor);
  --item-border-color: var(--DELETEBorderColor);
}

.section_content_item_inner {
  border-radius: 5px;
  border-color: var(--item-border-color);
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  background: var(--item-light-color);
}
.section_content_item_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.section_content_item_body {
  cursor: auto;
  overflow: hidden;
  transition: 0.5s;
}
.section_content_item_header .left {
  display: flex;
  align-items: center;
}
.section_content_item_header .left .method {
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--item-color);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 15px;
}
.section_content_item_header .left .url {
  color: var(--globalColor);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.section_content_item_header .left .description {
  font-size: 14px;
  margin-left: 22px;
  margin-top: 2px;
  color: var(--globalColor);
  font-family: system-ui;
  letter-spacing: -0.1px;
}
.section_content_item_header .right {
  display: flex;
  align-items: center;
}

.header_inner_section {
  margin-top: 35px;
  padding: 15px;
  background: hsla(0,0%,100%,.8);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  width: 100%;
  margin-left: -15px;
  margin-bottom: 15px;
  padding-left: 35px;
}

.item_inner_responses {
  padding: 25px;
}

.item_inner_responses table thead tr th {
  color: #3b4151;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 0;
  text-align: left;
  border-bottom: 1px solid rgba(59,65,81,.2);
}
.item_inner_responses table tbody tr:not(:last-of-type) {
  box-shadow: inset 0 -1px rgb(220 222 224);
}
.item_inner_responses table tbody tr td:first-of-type {
  min-width: 6em;
  padding: 25px 0;
}
.item_inner_responses table tbody tr td.status {
  color: #3b4151;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 800;
}
.item_inner_responses table tbody tr td.desc {
  width: 99%;
  padding: 25px 0;
  vertical-align: top;
}
.item_inner_responses table tbody tr td.desc .example {
  margin-top: 1rem;
}

/* === SCHEMAS === */
.schemas {
  border: 1px solid rgba(59,65,81,.3);
  border-radius: 4px;
  margin: 30px 0;
}
.schemas .header {
  border-bottom: 1px solid rgba(59,65,81,.3);
  align-items: center;
  color: #606060;
  cursor: pointer;
  display: flex;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 25px;
  transition: all .2s;
}

.schemas_list_item {
  margin: 20px;
  background: rgba(0,0,0,.07);
  border-radius: 4px;
  position: relative;
  transition: all .5s;
}
.schemas_header {
  display: flex;
  align-items: center;
  padding: 25px;
  cursor: pointer;
}
.schemas_header i {
  margin-left: 15px;
}
.schemas_content {
  overflow: hidden;
}
.schemas_content .desc_entity {
  margin-left: 25px;
  font-size: 13px;
  color: var(--globalColor);
  transform: translate(0px, -5%);
  font-style: italic;
}
.schemas_property {
  padding: 25px;
  padding-top: 10px;
  display: flex;
  margin-bottom: 15px;
}
.schemas_property .left {
  min-width: 150px;
}
.schemas_property_tbody tr td:first-of-type {
  min-width: 120px;
  font-size: 14px;
  vertical-align: top;
}
.schemas_property_tbody tr td.infos {
  color: #3b4151;
  font-family: monospace;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.schemas_property_tbody tr td.infos .type, .schemas_property_tbody tr td.infos .more {
  margin-bottom: 5px;
}

.schemas_property_tbody tr td.infos .type {
  color: #55a;
}
.schemas_property_tbody tr td.infos .more {
  color: #6b6b6b;
  font-style: italic;
}
.schemas_property_tbody tr td.infos .desc {
  word-break: break-word;
  margin: 0 0 2em 0;
}